<div class="slider-wrapper">
    <div id="slider" class="nivoSlider">
        <% @image_urls.shuffle.each do |image_url| %>
            <img src="<%= image_url %>">
        <% end %>
    </div>
</div>


<script type="text/javascript">
$(window).load(function() {
$('#slider').nivoSlider();});</script>


