<div class="slider-wrapper">
    <div id="slider" class="nivoSlider">
        <img src="http://images6.fanpop.com/image/photos/32200000/Cosette-Official-Movie-Poster-les-miserables-2012-movie-32280133-864-1280.jpg" alt="" />
        <a href="http://dev7studios.com"><img src="http://2.bp.blogspot.com/_-Ly_T7bpiyg/TGT56R4CL5I/AAAAAAAAAzM/odAiThKgvy0/s1600/IB.jpg"/></a>
        <img src="http://upload.wikimedia.org/wikipedia/en/thumb/8/83/Bad_boy_bubby.jpg/220px-Bad_boy_bubby.jpg" alt="" />
        <img src="http://meridiancrossfit.files.wordpress.com/2011/09/imgpulp20fiction1.jpg" alt=""/>
        <img src="http://3.bp.blogspot.com/-M06z3N8QXzk/TXVAwAQro_I/AAAAAAAAADg/czvWr3RJCcA/s1600/Apocalypse%2BNow%2BPoster.jpg"/>
        <img src="http://3.bp.blogspot.com/_GET3DKF-gbM/TOJkDNOPkbI/AAAAAAAAABY/8NKBoAQNwtM/s1600/brick-poster-1.jpg" alt="" />
        <img src="http://paintings-art-picture.com/paintings/wp-content/uploads/2012/03/20/Movie-Poster-49.jpg">
        <% @image_urls.each do |image_url| %>
            <img src="<%= image_url %>" height="100px">
        <% end %>
    </div>
</div>


<script type="text/javascript">
$(window).load(function() {
$('#slider').nivoSlider();});</script>


