<div class='new_video_form'>
<form action = '/create' method = 'post'>
<ul class="add_form">
	<li><input type='text' name='title' placeholder='Title' autofocus></li>
	<li><input type='text' name='description' placeholder='Description'></li>
	<li><input type='text' name='url' placeholder='URL'></li>
	<li><input type='text' name='genre' placeholder='Genre'></li>
	<button class='btn-inverse'>Add New Video</button>
</ul>
</form>
</div>
